<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3>Name: Khoa Pham</h3>
        <p>Email: khoa@yahoo.com</p>
        <p>Phone: 0918273772</p>
    </body>
</html>